<!-- app/views/shared/_modal.html.erb -->
<div id="modal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75">
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
    <h2 class="text-xl font-bold mb-4">一番思い出感があるフォントを探すアプリ</h2>
    <p>この中で、一番思い出感があるフォントにいいねを押すだけのアプリです。</p>
    <div class="mt-6 flex justify-end">
      <%= button_to "閉じる", close_modal_path, method: :delete, remote: true, class: "btn px-4 py-2" %>
    </div>
  </div>
</div>
