// Google Fontsを読み込む
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Serif+JP:wght@400;700&family=Cormorant+Garamond:wght@400;700&family=Great+Vibes&family=Patrick+Hand&family=Nanum+Pen+Script&family=Allura&family=Homemade+Apple&family=Shadows+Into+Light&display=swap');

// 各クラスに対応するフォントを設定

/* Noto Serif JPを適用するクラス */
.noto-serif-jp {
  font-family: 'Noto Serif JP', serif;
}

/* Dancing Scriptを適用するクラス */
.dancing-script {
  font-family: 'Dancing Script', cursive;
}

/* Cormorant Garamondを適用するクラス */
.cormorant-garamond {
  font-family: 'Cormorant Garamond', serif;
}

/* Great Vibesを適用するクラス */
.great-vibes {
  font-family: 'Great Vibes', cursive;
}

/* Patrick Handを適用するクラス */
.patrick-hand {
  font-family: 'Patrick Hand', cursive;
}

/* Nanum Pen Scriptを適用するクラス */
.nanum-pen-script {
  font-family: 'Nanum Pen Script', cursive;
}

/* Alluraを適用するクラス */
.allura {
  font-family: 'Allura', cursive;
}

/* Homemade Appleを適用するクラス */
.homemade-apple {
  font-family: 'Homemade Apple', cursive;
}

/* Shadows Into Lightを適用するクラス */
.shadows-into-light {
  font-family: 'Shadows Into Light', cursive;
}
