
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Serif+JP:wght@400;700&family=Cormorant+Garamond:wght@400;700&family=Great+Vibes&family=Patrick+Hand&family=Nanum+Pen+Script&family=Allura&family=Homemade+Apple&family=Shadows+Into+Light&display=swap');


.noto-serif-jp {
  font-family: 'Noto Serif JP', serif;
}


.dancing-script {
  font-family: 'Dancing Script', cursive;
}


.cormorant-garamond {
  font-family: 'Cormorant Garamond', serif;
}


.great-vibes {
  font-family: 'Great Vibes', cursive;
}


.patrick-hand {
  font-family: 'Patrick Hand', cursive;
}

.nanum-pen-script {
  font-family: 'Nanum Pen Script', cursive;
}


.allura {
  font-family: 'Allura', cursive;
}


.homemade-apple {
  font-family: 'Homemade Apple', cursive;
}


.shadows-into-light {
  font-family: 'Shadows Into Light', cursive;
}
